@font-face {
    font-family: 'Goudy Bookletter 1911';
    src: url('../fonts/goudy_bookletter_1911.eot');
    src: local('☺'), url('../fonts/goudy_bookletter_1911.woff') format('woff'), url('../fonts/goudy_bookletter_1911.ttf') format('truetype'), url('../fonts/goudy_bookletter_1911.svg#webfontmox7jyh1') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sorts Mill Goudy';
    src: url('../fonts/sorts_mill_goudy.eot');
    src: local('☺'), url('../fonts/sorts_mill_goudy.woff') format('woff'), url('../fonts/sorts_mill_goudy.ttf') format('truetype'), url('../fonts/sorts_mill_goudy.svg#webfontmox7jyh1') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sorts Mill Goudy Italic';
    src: url('../fonts/sorts_mill_goudy-italic.eot');
    src: local('☺'), url('../fonts/sorts_mill_goudy-italic.woff') format('woff'), url('../fonts/sorts_mill_goudy-italic.ttf') format('truetype'), url('../fonts/sorts_mill_goudy-italic.svg#webfontmox7jyh1') format('svg');
    font-weight: normal;
    font-style: normal;
}
