$base03:          darken(#002b36, 15%) !default; //darkest blue
$base02:          darken(#073642, 15%) !default; //dark blue
$base01:          darken(#586e75, 15%) !default; //darkest gray
$base00:          darken(#657b83, 15%) !default; //dark gray
$base0:           darken(#839496, 15%) !default; //medium gray
$base1:           darken(#93a1a1, 15%) !default; //medium light gray
$base2:           lighten(#eee8d5, 5%) !default; //cream
$base3:           lighten(#fdf6e3, 5%) !default; //white
$solar-yellow:    darken(#b58900, 15%) !default;
$solar-orange:    darken(#cb4b16, 15%) !default;
$solar-red:       darken(#dc322f, 15%) !default;
$solar-magenta:   darken(#d33682, 15%) !default;
$solar-violet:    darken(#6c71c4, 15%) !default;
$solar-blue:      darken(#268bd2, 15%) !default;
$solar-cyan:      darken(#2aa198, 15%) !default;
$solar-green:     darken(#859900, 15%) !default;

$solarized: dark !default;

@if $solarized == light {
  $base03: lighten(#fdf6e3, 5%);
  $base02: lighten(#eee8d5, 5%);
  $base01: darken(#93a1a1, 15%);
  $base00: darken(#839496, 15%);
  $base0:  darken(#657b83, 15%);
  $base1:  darken(#586e75, 15%);
  $base2:  darken(#073642, 15%);
  $base3:  darken(#002b36, 15%);
}

/* non highlighted code colors */
$pre-bg: $base03 !default;
$pre-border: $base02 !default;
$pre-color: $base1 !default;
