---
layout: default
footer: true
---

<div id="splash">

  <section class="blog-recent">
    <h1>Latest Scribblings</h1>
    <ul class="summary">
    {% for post in paginator.posts limit:4 %}
      <li>{% include archive_post.html %}</li>
    {% endfor %}
    </ul>
    <nav>
      <a href="/blog">More Entries &raquo;</a>
    </nav>
  </section>

  <section class="projects">
    <h1>On the Boil</h1>
    <!--
      booth
      smash 2013

    -->
    <ul class="summary thumbs">
      <li><a href="#">
        <img src="/images/speakerdeck/state_machine.png" />
        <h2>Test</h2>
        <p>Test</p>
      </a></li>
      <li><a href="#">
        <img src="/images/speakerdeck/state_machine.png" />
        <h2>Test</h2>
        <p>Test</p>
      </a></li>
      <li><a href="#">
        <img src="/images/speakerdeck/state_machine.png" />
        <h2>Test</h2>
        <p>Test</p>
      </a></li>
    </ul>
  </section>

  <section class="project-archives">
    <h1>In the Cooler</h1>
    <!--
      joinus.smash
      derringer
    -->
    <ul class="summary thumbs">
      <li><a href="#">
        <img src="/images/speakerdeck/state_machine.png" />
        <h2>Test</h2>
        <p>Test</p>
      </a></li>
      <li><a href="#">
        <img src="/images/speakerdeck/state_machine.png" />
        <h2>Test</h2>
        <p>Test test test tes test test tes test test tes test test tes test test tes test test tes</p>
      </a></li>
      <li><a href="#">
        <img src="/images/speakerdeck/state_machine.png" />
        <h2>Test</h2>
        <p>Test</p>
      </a></li>
    </ul>
  </section>

  <section class="talks">
    <h1>Live On-Stage</h1>
    <ul class="summary thumbs">
      <li><a href="#">
        <img src="/images/speakerdeck/state_machine.png" />
        <h2>Test</h2>
        <p>Test</p>
      </a></li>
      <li><a href="#">
        <img src="/images/speakerdeck/state_machine.png" />
        <h2>Test</h2>
        <p>Test</p>
      </a></li>
      <li><a href="#">
        <img src="/images/speakerdeck/state_machine.png" />
        <h2>Test</h2>
        <p>Test</p>
      </a></li>
    </ul>
  </section>
</div>


