---
layout: default
footer: true
---

<div id="splash">

  <section class="blog-recent">
    <h1>Latest Scribblings</h1>
    <ul class="summary">
    {% for post in paginator.posts limit:4 %}
      <li>{% include archive_post.html %}</li>
    {% endfor %}
    </ul>
    <nav>
      <a href="/blog">More Entries &raquo;</a>
    </nav>
  </section>

  <section class="projects">
    <h1>On the Boil</h1>
    <ul class="summary thumbs">
      <li><a href="https://github.com/generationcomic/generationcomic.github.io">
        <img src="/images/projects/generationcomic.png" />
        <h2>Generation</h2>
        <p>The website for Generation, an Australian comic anthology relaunching in 2014.</p>
      </a></li>
    </ul>
    <ul class="summary thumbs">
      <li><a href="https://github.com/search?q=railsless+user%3Adamncabbage&type=Repositories&ref=advsearch&l=">
        <img src="/images/projects/railsless.png" />
        <h2>Railsless-*</h2>
        <p>
          A small set of gems that give Sinatra and Goliath some of the niceties of Rails.<br />
          Currently: railsless-console, railsless-active_record.
        </p>
      </a></li>
    </ul>
  </section>

  <section class="project-archives">
    <h1>In the Cooler</h1>
    <ul class="summary thumbs">
      <li><a href="https://github.com/smashcon/derringer">
        <img src="/images/projects/derringer.jpg" />
        <h2>Derringer</h2>
        <p>A ticket scanning app written for and used at SMASH! 2012&ndash;2013. Ruby, BitTorrent, auto-syncing, and 4500 happy customers through the door.</p>
      </a></li>
      <li><a href="https://github.com/damncabbage/X-Fake-For">
        <img src="/images/projects/x-fake-for.png" />
        <h2>X-Fake-For</h2>
        <p>A quick Chrome extension to fool some sites' more flimsy geo-blocking attempts.</p>
      </a></li>
    </ul>
  </section>

  <section class="talks">
    <h1>Live, for Your Amusement</h1>
    <ul class="summary thumbs">
      <li><a href="https://speakerdeck.com/damncabbage/states-devops-sydney-mixer-2013">
        <img src="/images/speakerdeck/states.png" />
        <h2>States</h2>
        <p>Thinking about an Order model as states and possible transitions; Finite State Machines made easy.</p>
      </a></li>
      <li><a href="https://speakerdeck.com/u/damncabbage/p/heteromorphic-fantasy-obries-state-machine-2012">
        <img src="/images/speakerdeck/state_machine.png" />
        <h2>Homomorphic Fantasy: Obrie's state_machine</h2>
        <p>A walk-through of state machines with @obrie's gem. Fun for anyone who doesn't mind the occasional scary photo of an insect.</p>
      </a></li>
      <li><a href="https://speakerdeck.com/u/damncabbage">
        <img src="/images/speakerdeck/php_csrf.png" />
        <h2>PHP Series: Security, Tools and Techniques</h2>
        <p>A short series of presentations given at a PHP dev shop, covering XSS, XSRF, Dependency Injection and Active Record.</p>
      </a></li>
    </ul>
  </section>
</div>


