---
layout: default
footer: true
---

<div id="splash">

  <section class="blog-recent">
    <h1>Latest Scribblings</h1>
    <ul class="summary">
    {% for post in paginator.posts limit:4 %}
      <li>{% include archive_post.html %}</li>
    {% endfor %}
    </ul>
    <nav>
      <a href="/blog">More Entries &raquo;</a>
    </nav>
  </section>

  <section class="projects">
    <h1>On the Boil</h1>
    <ul class="summary thumbs">
      <li><a href="https://github.com/smashcon/derringer">
        <img src="/images/projects/derringer.jpg" />
        <h2>Derringer</h2>
        <p>A ticket scanning app written for and used at SMASH! this year. Ruby, CouchDB, auto-syncing, and 3000 happy customers through the door.</p>
      </a></li>
      <li><a href="https://github.com/smashcon/booth">
        <img src="/images/projects/tickets.png" />
        <h2>Booth</h2>
        <p>SMASH!'s ticket sales system in development for 2013. Being built on Spree for maximum wheel-reinvention minimisation.</p>
      </a></li>
    </ul>
  </section>

  <section class="project-archives">
    <h1>In the Cooler</h1>
    <ul class="summary thumbs">
      <li><a href="https://github.com/damncabbage/X-Fake-For">
        <img src="/images/projects/x-fake-for.png" />
        <h2>X-Fake-For</h2>
        <p>A quick Chrome extension to fool some sites' more flimsy geo-blocking attempts.</p>
      </a></li>
      <li><a href="https://github.com/damncabbage/soramimi_lyrics">
        <img src="/images/projects/karaoke.jpg" />
        <h2>Soramimi Lyrics</h2>
        <p>Parsing <em>Soramimi Karaoke</em> lyric files with Parslet.</p>
      </a></li>
    </ul>
  </section>

  <section class="talks">
    <h1>Live, for Your Amusement</h1>
    <ul class="summary thumbs">
      <li><a href="https://speakerdeck.com/u/damncabbage/p/heteromorphic-fantasy-obries-state-machine">
        <img src="/images/speakerdeck/state_machine.png" />
        <h2>Homomorphic Fantasy: Obrie's state_machine</h2>
        <p>A walk-through of state machines with @obrie's gem. Fun for anyone who doesn't mind the occasional scary photo of an insect.</p>
      </a></li>
      <li><a href="https://speakerdeck.com/u/damncabbage">
        <img src="/images/speakerdeck/php_csrf.png" />
        <h2>PHP Series: Security, Tools and Techniques</h2>
        <p>A short series of presentations given at a PHP dev shop, covering XSS, XSRF, Dependency Injection and Active Record.</p>
      </a></li>
    </ul>
  </section>
</div>


